@use "../base/variables";
@use "../base/reset";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: variables.$padding;
    color: variables.$light;
    background-color: variables.$primary-color;
    box-shadow: variables.$shadow-md;

    &__logo {
        display: flex;
        padding: variables.$padding;

        img {
            border-radius: variables.$border-radius-md;
            box-shadow: variables.$shadow-sm;
        }

        &-text {
            padding: variables.$padding;
            font-size: 2rem;
            font-weight: variables.$font-weight-bold;
        }
    }
}
